.idea
client/android/*.iml
client/android/.gradle
client/android/local.properties
client/android/.idea/workspace.xml
client/android/.idea/libraries
client/android/.DS_Store
client/android/build
client/android/captures
client/android/.externalNativeBuild
client/android/.*
client/android/gradle
client/android/build.gradle
client/android/gradle.properties
client/android/gradlew
client/android/gradlew.bat
client/android/settings.gradle


